<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
  <div class="container">
    <div class="row">
      <h1>Gestor de clientes</h1>
      <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener Clientes</button>
      <button on-click="agregarCliente" class="btn btn-success" type="button" name="button">Agregar Clientes</button>
    </div>
    <div class="row">
      <table>
        <tbody>
          <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td>
                [[item.CustomerID]]
              </td>
              <td>
                [[item.ContactName]]
              </td>
              <td>
                [[item.CompanyName]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-cliente'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      incrementar(){
        this.prop2= this.prop2+1;
        console.log("prop2: "+ this.prop2);
      }
      obtenerClientes(){

          var url ="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
          var request = new XMLHttpRequest();
          request.open("GET",url,false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.request = JSON.parse(request.responseText).value;
          console.table(this.clientes);

      }
      agregarCliente(){
        var request = new XMLHttpRequest();
        var url ="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        request.open("POST",url,false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevcliente = {"CustomerID":1234, "ContactName":"Pepe", "CompanyName":"Pepes Bar"};
        var body = JSON.stringify(nuevcliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
