<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
  <div class="container">
    <div class="row">
      <img calss="col-lg-8" src="https://image.flaticon.com/icons/svg/1965/1965615.svg">
    </div>
    <div class="row">
      <button class="btn btn-success" type="button" name="button">Cargar datos</button>
    </div>
    <div class="row">
      <table class="table table-striped col-lg-12 col-xs-12">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Apellido</th>
        </thead>
      </table>
    </div>
  </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2:{
            type: Number,
            value: 999
          }
        };
      }
      incrementar(){
        this.prop2= this.prop2+1;
        console.log("prop2: "+ this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
